@{
    /* Global includes for the theme
    ***************************************************************/

    SetMeta("charset", "utf-8");
    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    SetMeta("viewport", "width=device-width, initial-scale=1.0");

    Style.Include("bootstrap.min.css").AtHead();
    Style.Include("modern-business.css");

    /* Inserting some ad hoc shapes
    ***************************************************************/

    // WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    //WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

}


@*<div id="layout-navigation" class="group">
    <div class="zone zone-navigation">
        <article class="widget-navigation widget-menu-widget widget">

            <nav>
                <ul class="menu menu-main-menu">


                    <li class="first">
                        <a href="/about">About</a>
                    </li>
                    <li class="dropdown current">
                        <a href="/">Sports</a>
                        <ul>

                            <li>
                                <a href="/sport/football">Football</a>
                            </li>
                            <li>
                                <a href="/sport/netball">Netball</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/shop">Shop</a>
                    </li>
                    <li class="last">
                        <a href="/sponsor">Sponsors</a>
                    </li>
                </ul>
            </nav>
        </article>
    </div>
</div>*@

@if (Model.Navigation != null)
{
    <div id="layout-navigation" class="group">
        @Display(Model.Navigation)
    </div>
}

@*<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Tring Tornadoes Junior Sports Club</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">              
                <li>
                    <a href="services.html">About</a>
                </li>               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="portfolio-1-col.html">Football</a>
                        </li>
                        <li>
                            <a href="portfolio-2-col.html">Netball</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="services.html">Shop</a>
                </li>
                <li>
                    <a href="about.html">Sponsors</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>*@

       <!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @Display(Model.Footer)
            </div>
        </div>
    </div>
